body {
	

}
	

#NAGLOWEK {
	width: 960px;
	margin-top: 1%;
	height: 90px;
	font-family: Bell MT;
	font-size: 18px;
	letter-spacing: 2px;
	text-align: left;
	}
	
#MENU {
	text-align: center;
	width: 960px;
	margin-top: 30px;
	height: 50px;
	background: url(gfx/przedzialka_pozioma.png) no-repeat top;
}

#ELEMENTY_MENU {
	font-family: comic sans ms;
	padding-top: 5px;
	padding-bottom: 7px;
	background: url(gfx/przedzialka_pozioma.png) no-repeat bottom;
}

#SLIDER {
	width: 960px;
	height: 300px;
	text-align: left;
	padding-top: 2px;
}

#TRESC {
	margin-top: 5px;
	width: 960px;
	/*min-height: 100px;*/
	overflow: hidden;
	padding-top: 1px;
	padding-bottom: 20px;
}

#TRESC_GLOWNA {
	font-family: comic sans ms;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	text-align: justify;
}

#TRESC_GLOWNA.center {
	text-align: center;
}

#TRESC_LEWA_KONTENER {
	float: left;
	margin-top: 30px;
	width: 479px;
	/*border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #AAAAAA;*/
	background: url(gfx/przedzialka_tresc.png) no-repeat right;
	padding-top: 20px;
	padding-bottom: 20px;
}

#TRESC_LEWA{
	font-family: comic sans ms;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

#TRESC_PRAWA_KONTENER {
	float: left;
	width: 479px;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#TRESC_PRAWA {
	font-family: comic sans ms;
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
}

#STOPKA {
	padding-top: 10px;
	width: 960px;
	height: 80px;
}

#WYKONANIE {
	float: left;
	font-family: comic sans ms;
	text-align: left;
	padding-left: 15px;
	font-size: 14px;
}

#STOPKA_PRAWA {
	float: right;
	font-family: comic sans ms;
	text-align: center;
	padding-right: 15px;
	font-size: 14px;
}

#WALIDACJA {
	float: right;
	padding-right: 15px;
}

#GALERIA {
	font-family: comic sans ms;
	font-size: 14px;
	margin-top: 20px;
	padding-left: 40px;
}

#GALERIA_NAWIGACJA {
	width: 960px;
	float: left;
	padding-left: 350px;
	margin-top: 20px;
}

#NAWIGACJA_ELEMENT {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.nawigacja_button {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#NRSTRONY {
	float: left;
}



.wpis {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 30px;
	border-bottom: 1px dashed grey;
}

.wpis_tresc {
	margin: auto;
	text-align: justify;
	font-family: comic sans ms;
	font-size: 15px;
}

.wpis_autor {
	text-align: justify;
	font-family: comic sans ms;
	font-size: 10px;
	margin-top: 10px;
	padding-bottom: 3px;
}

.wpis_tagi {
    font-family: comic sans ms;
    font-size: 12px;
    color: blue;
    padding-left: 20px;
    float: right;
}


img.logo {
	vertical-align: middle;
	height: 90%;
	margin-right: 1%;
}

img.przedzialka {
	vertical-align: middle;
	height: 100%;
	margin-right: 1%;
}

img.miniatura {
	height: 120px;
	margin-right: 40px;
	margin-left: 0px;
	margin-top: 20px;
}

a.link {
	text-decoration: none;
	color: #555555;
	font-size: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

a.link:hover {
	color: orange;
}

tr {
	padding-top: 3px;
}

input.textbox {
	background-color: #aaaaff;
	border: 1px solid blue;
}

iframe {
	border: none;
}

table {
	border: 1px solid black;
}

.walidacja_nick {

}

.walidacja_haslo {

}

.walidacja_haslo_powt {

}

.walidacja_email {

}

.walidacja_email_powt {

}

.walidacja_kod {

}

table {
	margin-top: 20px;
}

#dodano {
	width: 98%;
	height: 40px;
	background-color: #33AA33;
	border: 1px solid #119911;
	padding-left: 20px;
	color: #00FFDD;
}

#walidacja_ok {
	background-color: #99CC00;
	color: #336600;
	border: 1px solid #336600;
	text-align: center;
}

#walidacja_blad {
	background-color: #FF6666;
	color: #990000;
	border: 1px solid #990000;
	text-align: center;
}
