<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Teh Bst Site In Teh Wrld! - Aktualności</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
	{% load staticfiles %}
	<link rel="Stylesheet" type="text/css" href='{% static "style.css" %}' />
</head>
<body>
	<center>
		
	
	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<b>
			    <a class="link" href="{% url 'index' %}">Wpisy</a>
                <a class="link" href="{% url 'filter' %}">Filtruj</a>
                {% if zalogowany == "True" %}
                    <a class="link" href="{% url 'preferences' %}">Preferencje</a>
                    <a class="link" href="{% url 'logout' %}">Wyloguj</a>
                {% else %}
                    <a class="link" href="{% url 'login' %}">Zaloguj</a>
                {% endif %}
                <a class="link" href="{% url 'register' %}">Zarejestruj</a>
            </b>
		</div>
	</div>
	<div id="TRESC">
		<div id="TRESC_GLOWNA">
            <center>
			<form method="POST" action="{% url 'doLogin' %}">{% csrf_token %}
            {{ forma.as_p }}
            <input type="submit" value="Log in" />
            </form>
            </center>
		</div>
	</div>
	</center>
</body>
</html>
